CALLBACK_ADDRESSES = [{% for address in callback_addresses %}'{{ address }}', {% endfor %}]
API_KEYS = [{% for key in api_keys %}'{{ key }}', {% endfor %}]
REQUIRE_AUTH = True


DEBUG = False
PORT = {{ foreman_port }}

#### FILE STORAGE OPTIONS ####
BACKEND = 's3'
CREATE_PARITIES = True
IGNORE_PARITIY_SIZE_LIMIT = False

#### FILE STORAGE LOCATIONS ####
FILES_DIR = '{{ files_directory }}'
MANIFEST_DIR = '{{ manifest_directory }}'
METADATA_DIR = '{{ metadata_directory }}'
DIRSTRUCT_DIR = '{{ dirstruct_directory }}'
PARITY_DIR = '{{ parity_directory }}'

### S3 Options ###
USERNAME = '{{ archiver_storage_username }}'
PASSWORD = '{{ archiver_storage_password }}'
CONTAINER_NAME = '{{ archiver_storage_resource }}'

#### CELERY OPTIONS ####
BROKER_URL = '{{ rabbitmq_url }}'
CELERY_TASK_SERIALIZER = 'pickle'
CELERY_RESULT_SERIALIZER = 'pickle'
CELERY_ACCEPT_CONTENT = ['pickle']


#### CLONER OPTIONS ####
# Figshare
FIGSHARE_OAUTH_TOKENS = [
    '{{ figshare_client_id }}',
    '{{ figshare_client_secret }}'
]
