#!/user/bin/env python
# encoding: utf-8

from cloudstorm.backend import contrib


DEBUG = {{ uploader_tornado_debug }}

USE_SSL = {{ uploader_ssl }}
{% if uploader_ssl %}
SSL_CERT_FILE = '{{ uploader_ssl_cert }}'
SSL_KEY_FILE = '{{ uploader_ssl_key }}'
{% endif %}

URLS_HMAC_SECRET = '{{ uploader_hmac_secret }}'
UPLOAD_HMAC_SECRET = '{{ uploader_hmac_secret }}'
WEBHOOK_HMAC_SECRET = '{{ uploader_hmac_secret }}'

SCHEME = '{{ 'https' if uploader_ssl else 'http' }}'
DOMAIN = '{{ inventory_hostname }}'
PORT = {{ 443 if uploader_ssl else 80 }}

{% set user = rabbitmq_users_definitions[0] %}
BROKER_URL = 'amqp://{{ user['user'] }}:{{ user['password'] }}@localhost:5672/'

FILE_PATH_PENDING = '{{ uploader_file_path_pending }}'
FILE_PATH_COMPLETE = '{{ uploader_file_path_complete }}'

STORAGE_CLIENT_CLASS = contrib.{{ uploader_client_class }}
STORAGE_CLIENT_OPTIONS = {{ uploader_client_options }}
STORAGE_CONTAINER_NAME = '{{ uploader_container_name }}'
PARITY_CONTAINER_NAME = '{{ uploader_parity_container_name }}'

AWS_ACCESS_KEY = '{{ uploader_aws_access_key }}'
AWS_SECRET_KEY = '{{ uploader_aws_secret_key }}'
GLACIER_VAULT = '{{ uploader_glacier_vault }}'

SENTRY_DSN = '{{ uploader_sentry_dsn }}'
