debug = {{ waterbutler_debug}}
port = {{waterbutler_port}}
host = '0.0.0.0'

identity_method = 'rest'
identity_api_url = '{{ waterbutler_identity_api_url }}'

hmac_secret = '{{ waterbutler_hmac_secret }}'
