[program:celery]
command={{ uploader_venv }}bin/invoke celery
directory={{ uploader_repo_dir }}
user=www-data
autostart=true
autorestart=true
stdout_logfile={{ uploader_log_dir }}celery-stdout.log
stderr_logfile={{ uploader_log_dir }}celery-stderr.log
priority=998
