[program:tornado]
command={{ uploader_venv }}bin/invoke tornado
directory={{ uploader_repo_dir }}
user=www-data
autostart=true
autorestart=true
stopasgroup=true
stdout_logfile=/var/log/uploader/tornado-stdout.log
stderr_logfile=/var/log/uploader/tornado-stderr.log
