[program:celeryd]
command=celery worker -A archiver.celery
directory=/Archiver/
user=nobody
autostart=true
autorestart=true
stdout_logfile=/var/log/archiver/worker.log
stderr_logfile=/var/log/archiver/worker.log
priority=998
