[program:celeryd]
command={{ virtualenv_path }}/bin/invoke worker
directory={{ archiver_install_path }}
user=nobody
autostart=true
autorestart=true
stdout_logfile=/var/log/archiver/worker.log
stderr_logfile=/var/log/archiver/worker.log
priority=998
