upstream backend {
    {% for host in groups['upload-workers'] -%}
    server {{ host }};
    {% endfor -%}
}

server {
    server_name {{ groups['upload-balancer'][0] }};
    {% if upload_service_ssl -%}
    listen 443;
    ssl on;
    ssl_certificate {{ upload_balancer_ssl_cert }};
    ssl_certificate_key {{ upload_balancer_ssl_key }};
    {% else -%}
    listen 80;
    {% endif %}

    client_max_body_size {{ upload_service_max_size }}M;

    location / {
        proxy_pass http://backend;
    }
}
