[program:archiverforeman]
directory=/Archiver/
command={{ virtualenv_path }}/bin/uwsgi uwsgi.ini
user={{ foreman_user }}
autostart=true
autorestart=true
stdout_logfile=/var/log/uwsgi/flask.log
stderr_logfile=/var/log/uwsgi/uwsgi.log
environment=PATH="{{ virtualenv_path }}/bin"
