# Enumerate all the Tornado servers here
upstream tornados {
{% for index in range(foreman_instances) %}
    server 127.0.0.1:{{7000 + index}};
{% endfor %}
}


server {
    listen      80;
    return 301 https://$host$request_uri;
}

server {
    listen 443;

    ssl on;
    ssl_certificate {{ archiver_install_path }}certs/archiver.crt;
    ssl_certificate_key {{ archiver_install_path }}certs/archiver.key.nopass;

    access_log  {{nginx_log_dir}}/archiver.access.log;

    location / {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass http://tornados;
    }
}

